<div class="container">

	<h1>Бюджети</h1>
	<form name="accForm" ng-submit="account.addAccount(addData);" name="addAccountForm" novalidate>
	    <div  ng-class="{ 'has-success':(accForm.budgetName.$valid && !accForm.budgetName.$pristine), 'has-error':(!accForm.budgetName.$valid && !accForm.budgetName.$pristine) || (!accForm.budgetName.$valid && 
        accForm.$submitted)  }" class="row">
	      <div class="col-xs-3">
	        <input name="budgetName" type="text" class="form-control" placeholder="Име на бюджет" ng-model="account.addData.name" ng-pattern="/^(([a-zA-Z]{3,20})+)+$/" ng-minlength="3" ng-maxlength="20" ng-required="true"/>
					<p class="help-block" ng-show="(!accForm.budgetName.$pristine && accForm.budgetName.$error.required) || (accForm.$submitted && accForm.budgetName.$error.required)">Полето е задължително!</p>
	      </div>
	      <div class="col-xs-2">
	        <select class="form-control" ng-model="account.addData.currency" required>
	          <option>$</option>
	          <option>€</option>
	          <option>£</option>
	        </select>
	      </div>
	      <div class="col-xs-2">
	        <button type="submit" class="btn all-btn" ng-click="addAccount(account)">Добави</button>
	      </div>
	    </div>
	</form>

	<table class="table table-condensed table-hover">
	    <thead>
			<tr>
				<th>Име на бюджет</th>
				<th>Баланс</th>
				<th>Детайли</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="account in accounts" data-account-id="{{ account._id }}">
				<td>{{account.name}}</td>
				<td>{{account.balance}}</td>
				<td><a href="/details"><button type="submit" class="btn btn-success btn-xs">Детайли</button></a> <button type="submit" class="btn btn-danger btn-xs" ng-click="deleteAccount($event);">Изтрий</button></td>
			</tr>
	    </tbody>
  	</table>

  	
</div>