<div class="container">
	<h1>Категории</h1>
	<form ng-submit="category.addCategory(addCategoryData);" name="addCategoryForm">
	    <div class="row">
	      <div class="col-xs-3">
	        <input type="text" class="form-control" placeholder="" ng-model="category.addCategoryData.name" required/>
	      </div>
	      <div class="col-xs-2">
	        <button type="submit" class="btn all-btn" ng-click="addCategory(category)">Добави</button>
	      </div>
	    </div>
	</form>

	<table class="table table-condensed table-hover">
	    <thead>
			<tr>
				<th>Категории</th>
				<th>Изтрий</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="category in categories" data-category-id="{{ category._id }}">
				<td>{{category.name}}</td>
				<td><button type="submit" class="btn btn-danger btn-xs" ng-click="deleteCategory($event);">Изтрий</button></td>
			</tr>
	    </tbody>
  	</table>
</div>