<div class="container">
	<h1>Категории</h1>
	<form name="addCategoryForm">
	    <div class="row">
	      <div class="col-xs-3">
	        <input type="text" class="form-control" placeholder="Category Name" ng-model="" required/>
	      </div>
	      <div class="col-xs-2">
	        <button type="submit" class="btn btn-primary" ng-click="">Добави</button>
	      </div>
	    </div>
	</form>

	<table class="table table-condensed table-hover">
	    <thead>
			<tr>
				<th>Категории</th>
				<th>Изтрии</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="">
				<td></td>
				<td><button type="submit" class="btn btn-danger btn-xs" ng-click="">Изтрий</button></td>
			</tr>
	    </tbody>
  	</table>
</div>