<div class="container">
  <div class="row">
    <div class="custom-table">
      <div class="table-content ">
        <div class="table-row header">
          <div>ID</div>
          <div class="name-column">Банки / Обменни бюра</div>
          <div>USD Купува</div>
          <div>USD Продава</div>
          <div>EUR Купува</div>
          <div>EUR Продава</div>
          <div>CHF Купува</div>
          <div>CHF Продава</div>
          <div>GBP Купува</div>
          <div>GBP Продава</div>
        </div>
        <div ng-repeat="curr in currencies" class="table-row">
          <div>{{ curr.id }} </div>
          <div class="name-column">{{ curr.name }} </div>
          <div>{{ curr.setCurrency[0].rateBuy }} </div>
          <div>{{ curr.setCurrency[0].rateSell }} </div>
          <div>{{ curr.setCurrency[1].rateBuy }} </div>
          <div>{{ curr.setCurrency[1].rateSell }} </div>
          <div>{{ curr.setCurrency[2].rateBuy }} </div>
          <div>{{ curr.setCurrency[2].rateSell }} </div>
          <div>{{ curr.setCurrency[3].rateBuy }} </div>
          <div>{{ curr.setCurrency[3].rateSell }} </div>
        </div>
      </div>
    </div>
  </div>
</div>

