<div class="container">
	<div class="row">
    <h2 class="text-center">Валутни курсове</h2>
		<div class="table-responsive">          
  <table ng-controller="categoryCtrl"  class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Банки / Обменни бюра</th>
        <th>USD Купува</th>
        <th>USD Продава</th>
        <th>EUR Купува</th>
        <th>EUR Продава</th>
        <th>CHF Купува</th>
        <th>CHF Продава</th>
        <th>GBP Купува</th>
        <th>GBP Продава</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat"curr in currencies">
        <td>{{ curr.id }}</td>
        <!--<td>Anna</td>
        <td>Pitt</td>
        <td>35</td>
        <td>New York</td>
        <td>USA</td>
        <td>Pitt</td>
        <td>35</td>
        <td>New York</td>
        <td>USA</td>-->
      </tr>
    </tbody>
  </table>
  </div>
	</div>
</div>